.hero-body {
  justify-content: center;
}

.login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.1);
}

.modalLoading {
  padding-left: 3.8rem;
  padding-right: 3.8rem;
}

input {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}

.logo {
  width: 40vw;
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 15vw;
  }
}

@keyframes ldio-zyd4jub8gjk {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-zyd4jub8gjk div {
  position: absolute;
  width: 130px;
  height: 130px;
  border: 10px solid #6c5ce7;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-zyd4jub8gjk div {
  animation: ldio-zyd4jub8gjk 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-1tuxxctdi9li {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-zyd4jub8gjk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zyd4jub8gjk div { box-sizing: content-box; }
