.hero-body {
  justify-content: center;
}

.login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 0 0 28px -5px rgba(0,0,0,0.1);
}

.modalLoading {
  padding-left: 3.8rem;
  padding-right: 3.8rem;
}

input {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}

.logo {
  width: 40vw;
}

.icon.is-right {
  right: 1vw !important;
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 15vw;
  }
}
