.columns.page {
  height: 101vh;
}

.column {
  background-color: white;
}

.log-list {
  height: 100%;
  background-color: #1dd1a1;
}

section {
  height: 100%;
}

.date {
  transition: 0.2s;
  padding: 1.5vw 2.5vw;
  border-style: dashed;
  border-color: #efefef;

  &:hover {
    background-color: #dbfaf1;
  }

  span {
    font-size: 0.7vw;
  }
}

.selected, .selected:hover {
  background-color: #1dd1a1 !important;
}

.otherMonth {
  background-color: #8395a7 !important;
}

.special {
  background-color: #c8d6e5;
}

.logs {
  height: 50vh;
  overflow-y: visible;
}
